name: Deploy Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Watchly of deployment start
        run: |
          curl -X POST -H "Authorization: Bearer ${{ secrets.WATCHLY_API_KEY_GH }}" \
            https://api.watchly.dev/api/v1/webhooks/deployments/start/${{ github.sha }}

      - name: Deploy
        run: echo "Your deployment steps ..."

      - name: Notify Watchly of deployment completion
        run: |
          curl -X POST -H "Authorization: Bearer ${{ secrets.WATCHLY_API_KEY_GH }}" \
            https://api.watchly.dev/api/v1/webhooks/deployments/finish/${{ github.sha }}
